.header__normal {
  position: relative;
  width: 100%;
  height: 60vh;
  min-height: 685px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.header__background {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(60vh - 100px;);
  min-height: 590px;
  width: 100%;
  background-color: #B7B7B7;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
  }
}

.header__product-overview {
  background-image: url(../assets/images/product_header.jpg);
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header__popup__container {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -50px;
  z-index: 1;
}

.header__popup {
  position: relative;
  padding: 50px 50px;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.28);

  &__verdeler {
    position: absolute;
    right: 50px;
    top: 50px;

    &-ambassador {
      background-image: url(../assets/svg/ambassador_icon.svg);
      width: 64px;
      height: 64px;
    }
  }

  &__subtitle {
    margin-top: 20px;
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    color: #000000;
    letter-spacing: 0.25px;
    text-align: left;
  }

  &__list {
    margin: 30px 0 30px;

    &__item {
      display: flex;
      align-items: center;
      margin-top: 18px;

      &__icon {
        background-image: url(../assets/svg/vink.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
        margin-right: 10px;
      }
    }
  }
}

.product-overview {

    &__info {

      & h2 {
        margin: 0;
        text-align: left;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
      }

      &__title {
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        color: #000000;
        line-height: 41px;
      }

      &__text {
        margin-top: 25px;
        font-size: 16px;
        color: #000000;
        letter-spacing: 0.5px;
        line-height: 26px;
      }

    }
}

.product-filter {
  background-color: $gray;
  padding: 40px 27px;

  &__h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 29px;
    color: #000000;
    letter-spacing: 0.23px;
    text-align: left;
    line-height: 38px;
    margin: 0;
  }

  &__title {
    margin: 0;
    text-align: left;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;

    &__richting {
      display: flex;
      margin-top: 30px;
      margin-right: 20px;
    }

    &__type {
      display: flex;
      margin-top: 30px;
      margin-right: 20px;
    }

    &__product {
      display: flex;
      flex-wrap: wrap;
      margin-top: 30px;
      margin-right: 20px;
    }
  }
}

.filtered-product-bg {
  background-color: $gray;
  padding-top: 100px;
  padding-bottom: 150px;
}

.filtered-product {
  margin-top: 40px;
  background-color: white;
  padding-bottom: 30px;
  box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.28);

  &__image {
    width: 100% !important;
    height: 185px !important;
    object-fit: cover;
    font-family: 'object-fit: cover;';
  }

  &__title {
    margin-top: 30px;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0.2px;

    & a {
      color: black;
      text-decoration: none;
    }
  }

  &__info {
    padding-left: 30px;
  }

  &__list {
    margin: 30px 0 30px;

    &__item {
      display: flex;
      align-items: center;
      margin-top: 18px;

      &__icon {
        background-image: url(../assets/svg/vink.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
        margin-right: 10px;
      }
    }
  }
}

.button-style1__font-size {

  & a {
    font-size: 12px !important;
  }

}

.brochure {
  background-color: $blue;

  &__image {
    position: relative;

    &__book {
      position: absolute;
      left: 20px;
      bottom: -81px;
    }

    &__link {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__info {
    padding-top: 70px;
    padding-bottom: 70px;

    &__title {
      font-family: 'Open Sans', sans-serif;
      font-weight: lighter;
      font-size: 30px;
      color: white;
      letter-spacing: 0.25px;
    }

    &__text {
      margin: 20px 0;
      font-size: 16px;
      color: white;
      letter-spacing: 0.5px;
      line-height: 26px;
    }
  }
}

.related-product__container {
  // margin-bottom: 150px;
}

.related-product {
  margin-top: 40px;
  background-color: white;
  padding-bottom: 30px;

  &__image {
    width: 100% !important;
    height: 250px !important;
    object-fit: cover;
    font-family: 'object-fit: cover;';
  }

  &__image-link {
    display: block;
    margin-bottom: 30px;
  }

  &__text {
    margin: 40px 0;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0.5px;
    line-height: 26px;
  }

}

@media only screen and (max-width: 1024px)  {

  .brochure__image__book {
    max-height: 375px;
    position: absolute;
    bottom: -36px;
  }

  .brochure__info {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .brochure__info__title {
    line-height: 38px;
  }

}

@media only screen and (max-width: 640px)  {

  .header__normal {
    height: 50vh;
    min-height: 350px;
  }

  .header__background {
    height: 50vh;
    min-height: 350px;
  }

  .header__product-overview {
    height: 50vh;
    min-height: 350px;
  }

  .brochure {
    margin-top: 120px;
  }

  .brochure__image {
    display: flex;
    justify-content: center;
  }

  .brochure__image__book {
    position: initial;
    padding: 0;
    max-height: 380px;
    margin-top: -60px;
  }

  .header__product-overview {
    margin-bottom: 40px;
  }

  .brochure__info__title {
    font-size: 28px;
  }

  .header__popup {
    padding:0;
    box-shadow: none;
  }

  .options__background {
    background-color: $gray;
    width: 100%;
  }

  .product-filter {
    padding: 40px 0;
  }

}
