// ---------------------- HOMEPAGE -----------------------
body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.header__homepage {
  position: relative;
  width: 100%;
  height: 60vh;
  min-height: 500px;
  background-image: url(../assets/images/antiloop_2560x1709.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sec-nav {
  position: absolute;
  z-index: 22;
  top: 0;
  left: 0;
  height: 35px;
  background-color: $gray;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__left {
    border-right: 1px solid #AFAFAF;
  }
}

.sec-nav__left {
  height: 100%;
  margin-right: 30px;
}

.sec-nav__left__list {
  height: 100%;
  display: flex;
  align-items: center;

  &__item {
    padding-right: 30px;

    & a {
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      color: #000000;
      letter-spacing: 0;
    }
  }
}

.sec-nav__right__list {
  display: flex;

  &__item {
    padding-right: 30px;

    & a {
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      color: #000000;
      letter-spacing: 0;

      & .sec-nav__right__list__item__be-flag {
        display: inline-block;
        background-image: url(../assets/svg/belgium.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 12px;
        height: 9px;
        margin-left: 5px;
      }

      & .sec-nav__right__list__item__arrow {
        display: inline-block;
        background-image: url(../assets/svg/arrow_down.svg);
        background-size: contain;
        background-position: unset;
        background-repeat: no-repeat;
        background-position: center;
        width: 12px;
        height: 8px;
        background-size: 6px;
        margin-left: 5px;
      }
    }
  }
}

.sec-nav__right__list__item__active {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}


.navigation {
  position: absolute;
  z-index: 1;
  top: 65px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;

  &__logo {
    background-image: url(../assets/svg/renson_logo.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 225px;
    height: 68px;

    & a {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }
}

.mainnav__list {
  display: flex;
  justify-content: space-around;
}

.mainnav .mainnav__list {
  list-style-type: none;
}

.mainnav .mainnav__list .mainnav__list__item {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 1.7px;
  text-align: right;
  margin-left: 30px;

  display: flex;
  align-items: center;
}

.mainnav .mainnav__list__item a {
  padding: 16px 0;
  text-decoration: none;
  color: white;
  height: 50px;
}

.mainnav .mainnav__list__item a::after {
  content: '';
  display: block;
  width: 0;
  margin-top: 8px;
  height: 2px;
  background: white;
  transition: width .3s ease-out;

}

.mainnav .mainnav__list__item a:hover::after {
    width: 100%;
    //transition: width .3s;
}

.mainnav .mainnav__list__item:hover {
  & a::after {
    width: 100%;
    //transition: width .3s;
  }
}

// -------------navigation mobile -------------------

.navigation-mobile {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
  z-index: 22;

  &__logo {
    background-image: url(../assets/svg/renson_logo.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 225px;
    height: 68px;
  }
}

.mainnav-mobile__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mainnav-mobile .mainnav-mobile__list {
  list-style-type: none;
}

.mainnav-mobile .mainnav-mobile__list .mainnav-mobile__list__item {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 1.7px;
  text-align: right;
}

.mainnav-mobile .mainnav-mobile__list__item a {
  padding: 0 27px;
  text-decoration: none;
  color: white;
}

.header__info__container {
  position: absolute;
  z-index: 0;
  width: 100%;
  bottom: 50px;
}

.header__info {


  &__title {
    margin-bottom: 30px;
    color: white;
    text-align: center;
    width: 100%;
  }

  &__button {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}


.sidebar {
  position: fixed;
  z-index: 10;
  top: calc(50% - 100px);
  right: 0;
  border: 1px solid white;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blue;
    width: 40px;
    height: 50px;
  }

  &__icon-line {
    border-bottom: 1px solid white;
  }
}

.sidebar__icon__cart {
  background-image: url(../assets/svg/shopping_cart.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 21px;
  height: 21px;
}

.sidebar__icon__read {
  background-image: url(../assets/svg/read.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 17px;
  height: 17px;
}

.sidebar__icon__mail {
  background-image: url(../assets/svg/mail.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 13px;
}

.sidebar__icon__sms {
  background-image: url(../assets/svg/sms.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 13px;
  height: 24px;
}

.home-products .product__title {
  color: #FFFFFF;
  align-items: center;
  height: 60px;
}

.home-products .product__button {
  color: #FFFFFF;
  background-color: rgb(0, 39, 91);
  background-color: rgba(0, 39, 91, 0.6);

  & a {
    color: white;
  }
}

.home-verdelers {
  position: relative;
  // margin: 160px 0;
  height: 305px;
  width: 100%;
  background-image: url(../assets/images/verdelers_panorama.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-verdelers__popup {
  position: absolute;
  top: -40px;
  left: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 385px;
  width: 385px;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.28);
  padding: 50px;

  &__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 30px;
    color: #000000;
    letter-spacing: 1.82px;
    margin-bottom: 70px;
    line-height: 38px;
  }
}

.home-verdelers__popup-mobile {
  // margin: 60px 0;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__title {
    align-self: flex-start;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 30px;
    color: #000000;
    letter-spacing: 1.82px;
    line-height: 38px;
    text-align: center;
    width: 100%;
  }

  &__button {
    margin-top: -30px;
  }

  &__image {
    margin-top: 40px;
    width: 100%;
    height: 360px;

    & img {
      object-fit: cover;
      font-family: 'object-fit: cover;';
      width: 100%;
      height: 100%;
    }
  }
}

.why-renson {
  // margin: 150px 0;
  padding: 80px 0 150px 0;
  background-color: $gray;

  &__item {
    background-color: white;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.08);

    &__link {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      opacity: 0;
      border-radius: 5px;
      // box-shadow: 0 5px 15px rgba(0,0,0,0.3);
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      transition: opacity 0.3s ease-in-out;
    }

    &__title {
      margin-top: 25px;
      color: $blue;
      line-height: 22px;
      backface-visibility: hidden;
      -webkit-filter: blur(0);
    }

    &__button {
      backface-visibility: hidden;
      -webkit-filter: blur(0);
      & a {
        color: $blue;
        backface-visibility: hidden;
        -webkit-filter: blur(0);
      }
    }

    & img {
      display: block;
      width: 100px;
      height: 100px;
      object-fit: none;
      position: absolute;
      top: calc(50% - 50px);
      left: calc(50% - 50px);
    }

    & svg {
      display: block;
      width: 100px;
      height: 100px;
      object-fit: none;
      position: absolute;
      top: calc(50% - 50px);
      left: calc(50% - 50px);
    }
  }
}

.why-renson__item:hover {
  background-color: $blue;
  transform: scale(1.05, 1.05);

  &::after {
    opacity: 1;
  }

  & .why-renson__item__title {
    color: white;
  }

  & .why-renson__item__button a {
    color: white;
  }

  & svg g {
    fill: white;
  }

  & .svg__stroke g {
    fill: $blue;
    stroke: white;
  }
}

.designlijnen__background__image {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../assets/images/designlijnen_1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.designlijnen__background {
  position: relative;
  // background-image: url(../assets/images/designlijnen_1.jpg);
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  width: 100%;
  height: 900px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';

  }

  &__buttons {
    display: flex;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }


  &__button {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 130px;
    font-size: 32px;
    letter-spacing: 1.94px;
    text-align: center;
    cursor: pointer;
  }
}

.designlijnen__background__buttons .swiper-pagination-bullet {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 130px;
  font-size: 32px;
  letter-spacing: 1.94px;
  text-align: center;
  cursor: pointer;
  background-color: white;
  border-radius: inherit;
  color: black;
  border: 1px solid #B8B8B8;
  opacity: 1;
}
.designlijnen__background__buttons .swiper-pagination-bullet-active {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 130px;
  font-size: 32px;
  letter-spacing: 1.94px;
  text-align: center;
  cursor: pointer;
  background-color: inherit;
  border-radius: inherit;
  background-color: none;
  color: white;
  border: none;
}

.designlijnen__background__button-active {
  background-color: none;
  color: white;
  border: none;
}

.designlijnen__background__button-unactive {
  background-color: white;
  color: black;
  border: 1px solid #B8B8B8;
}

.designlijnen__background__info {
  padding-top: 40px;
  padding-bottom: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.8);

  &__text {
    margin: 30px 0;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0.5px;
    line-height: 26px;
    max-width: 800px;
  }
}

.designlijnen-mobile {

  & img {
    height: 300px;
    width: 100%;
  }
}

.designlijnen__background-mobile {
  padding-top: 50px;
  padding-bottom: 50px;
}

.designlijnen__background__info-linius {
  opacity: 0;
}

.visualise {
  // margin: 270px 0;
  background-color: $gray;
}

.visualise__info {
  padding-top: 70px;
  padding-bottom: 70px;

  &__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 30px;
    color: #000000;
    letter-spacing: 0.25px;
  }

  &__text {
    margin: 50px 0;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0.5px;
    line-height: 26px;
  }
}

.visualise__img {
  position: relative;

  &__ipad {
    position: absolute;
    right: 0;
    top: -40px;
    width: 100%;
    height: 480px;
    object-fit: contain;
    font-family: 'object-fit: contain;';

  }

  &__appstore {
    position: absolute;
    left: -105px;
    bottom: 70px;
  }
}

.visualise__img__appstore-container {
  margin-top: 0px;
}


.swiper__container {
  width: 100%;
}

// .swiper__container3 {
//   height: 1000px;
//
//   & .swiper-slide {
//     width: 60%;
//   }
// }
//
.swiper__slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  opacity: .2;
  max-width: 850px;
  // transition: opacity ease 0.5s;
}



.swiper__active__slide {
  opacity: 1;

  & .slide__info {
    opacity: 1 !important;
    width: 100%;
  }
}

.slide__title {
  margin-bottom: 50px;
}

.slide__link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.slide__info {
  opacity: 0 !important;
  margin-top: 50px;
  transition: opacity .5s;

  &__tag {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #000000;
    letter-spacing: 0.38px;
    text-align: center;
    line-height: 24px;
  }

  &__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0.5px;
    text-align: center;
    line-height: 24px;
    margin: 20px 0 45px;
  }
}

.swiper-slide__image {
  width: 100%;

  & img {
    height: 480px;
    width: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
  }
}

.swiper__prev {
  height: 50px;
  width: 50px;
  color: $blue;
  position: absolute;
  left: 13%;
  z-index: 50;
}

.swiper__next {
  height: 50px;
  width: 50px;
  color: $blue;
  position: absolute;
  right: 13%;
  z-index: 50;
}

.inspiration {
  display: flex;
  align-items: center;
  background-image: url(../assets/images/inspiration.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 680px;
  width: 100%;
}

.inspiration__container {
  width: 100%
}


.inspiration__info {
  position: relative;

  &__text {
    line-height: 36px;
    font-size: 26px;
    color: #FFFFFF;
    letter-spacing: 0.25px;
    margin-bottom: 50px;
    max-width: 40%;
  }
}

footer {
  background-color: $gray;
  padding: 10px 0 80px 0;
}

.footer__item {
  margin-top: 50px;

  &__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0.5px;
    line-height: 24px;
  }

  &__list {
    margin-top: 28px;

    & li {

      & a {
        font-family: 'Open Sans', sans-serif;
        font-size: 11px;
        color: #000000;
        letter-spacing: 1.14px;
        line-height: 17px;
        text-decoration: none;
      }

      & .footer__item__list__link {
        font-family: 'Open Sans', sans-serif;
        font-size: 11px;
        color: #000000;
        letter-spacing: 1.14px;
        line-height: 17px;
        text-decoration: underline;
      }

    }
  }
}

.footer__item__list__link-margin {
  margin-top: 44px;
}

.pagination {
  position: relative;
  width: 60%;
  max-width: 850px;
  margin: 0 auto;
  height: 0;
}

.swiper__prev {
  height: 50px;
  width: 50px;
  // background-color: red;
  // border: 1px solid $blue;
  color: $blue;
  position: absolute;
  left: -150px;
  bottom: 0;
  top: 600px;
  z-index: 50;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  & i {
    font-size: 36px;
  }
}

.swiper__next {
  height: 50px;
  width: 50px;
  // background-color: red;
  // border: 1px solid $blue;
  color: $blue;
  position: absolute;
  right: -150px;
  top: 600px;
  z-index: 50;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  & i {
    font-size: 36px;
  }
}

.sponsor {
  width: 100%;
  height: 550px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
  }
}

.ham {
  height: 50px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: white;
  stroke-width: 3.5;
  stroke-linecap:round;
}
.ham1 .top {
  // stroke:#000;
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.ham1.active .top {
  stroke-dashoffset: -98px;
}
.ham1.active .bottom {
  stroke-dashoffset: -138px;
}




.navigation-mobile-open {
  position: fixed;
  z-index: 21;
  left: 100vw;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  overflow-y: scroll;

  &__list {
    margin-top: 130px;

    &__item {
      margin-bottom: 10px;

      & a {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        color: #000000;
        letter-spacing: 1.91px;
        line-height: 26px;
      }
    }
    &__item-small {
      margin-bottom: 10px;

      &-margin {
        margin-top: 70px;
      }

      & a {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        color: #000000;
        letter-spacing: 0;
        line-height: 20px;
      }
    }
  }
}

.navigation2 {
  position: fixed;
  z-index: 100;
  top: -120px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: white;
  box-shadow: 0px 9px 31px 0px rgba(0, 0, 0, 0.05);

  & .mainnav__list__item {

    & a {
      color: black;
      font-weight: 400;

      &::after {
        background: $blue;
      }
    }
  }

  & .navigation__logo {
    background-image: url(../assets/svg/renson_logo_blue.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 168px;
    height: 43px;
  }

}

.navigation-mobile2 {
  padding: 10px 0;
  position: fixed;
  top: -78px;
  left: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
  z-index: 22;
  box-shadow: 0px 9px 31px 0px rgba(0, 0, 0, 0.05);

  & .mainnav-mobile__list__item {
    & a {
      color: black;
    }
  }

  & .line {
    stroke: black;
  }
}

.navigation-mobile2 .navigation-mobile__logo {
  background-image: url(../assets/svg/renson_logo_blue.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 168px;
  height: 43px;
}



@media only screen and (max-width: 1024px)  {

  .header__homepage {
    background-image: url(../assets/images/hero_tablet.jpg);
  }

  .mainnav {
    display: none;
  }

  .home-products {
    justify-content: center;
  }

  .designlijnen__background {
    height: 700px;
  }

  .visualise__img__ipad {
    top: -130px;
    height: 395px;
    padding: 0 10px 0 10px;
  }

  .visualise__img__appstore {
    bottom: 70px;
    left: calc(50% - 74px);
  }

  .visualise__info__title {
    line-height: 38px;
  }

  .inspiration {
    height: 450px;
  }

  //---swiper slider----

  .news {
    margin: 100px 0;
  }

  .swiper__slide {
    width: 75% !important;
  }

  .swiper-slide__image {

    & img {
      height: 390px;
    }
  }


  .pagination {
    position: relative;
    width: 75%;
    margin: 0 auto;
    height: 0;
  }

  .swiper__prev {
    // height: 50px;
    // width: 50px;
    // background-color: red;
    // border: 1px solid $blue;
    color: $blue;
    // position: absolute;
    left: -90px;
    // bottom: 0;
    top: 600px;
    // z-index: 50;
  }

  .swiper__next {
    // height: 50px;
    // width: 50px;
    // background-color: red;
    // border: 1px solid $blue;
    color: $blue;
    // position: absolute;
    // right: 0;
    // bottom: 0;
    right: -90px;
    top: 600px;
    // z-index: 50;
  }

  .sponsor {
    height: 440px;
  }

}

@media only screen and (max-width: 770px)  {

  .sec-nav__left {
    display: none;
  }

  .sec-nav__right__list__item {
    padding-right: 20px;
  }

}



@media only screen and (max-width: 640px)  {

  .header__homepage {
    background-image: url(../assets/images/header_image2.jpg);
    height: 50vh;
    min-height: 350px;
  }

  .navigation-mobile {
    padding: 0 15px;
  }

  .navigation-mobile__logo {
    height: 45px;
    width: 150px;
  }

  .home-products__product {
    margin-bottom: 20px;
  }

  .home-verdelers {
    height: auto;
    background-image: none;

    &__popup-mobile {

      &__title {
        font-size: 28px;
      }

    }
  }

  .home-verdelers__popup-mobile__title

  .designlijnen__background__info__text {
    font-size: 14px;
  }

  .visualise__img {
    display: flex;
    justify-content: center;
  }

  .visualise__img img {
    position: initial;
    padding: 0;
    max-height: 380px;
    margin-top: -60px;
  }

  .visualise__info__title {
    font-size: 28px;
    text-align: center;
  }

  .visualise__img__appstore-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }

  .inspiration__info__text {
    text-align: center;
    font-size: 24px;
    max-width: initial;
  }

  .slide__info {
    margin-top: 20px;
  }

  .swiper-slide__image {

    & img {
      height: 210px;
    }
  }

  .swiper__slide {
    width: 91.66667% !important;
  }

  .pagination {
    position: relative;
    width: 91%;
    margin: 0 auto;
    height: 80px;
  }

  .swiper__prev {
    height: 50px;
    width: 50px;
    // background-color: red;
    // border: 1px solid $blue;
    color: $blue;
    position: absolute;
    left: 0;
    bottom: 0;
    top: inherit;
    z-index: 50;
  }

  .swiper__next {
    height: 50px;
    width: 50px;
    // background-color: red;
    // border: 1px solid $blue;
    color: $blue;
    position: absolute;
    right: 0;
    bottom: 0;
    top: inherit;
    z-index: 50;
  }

  .sponsor {
    height: 400px;
  }

  .header__info__container {
    bottom: 25px !important;
  }
}
