// --------------------------------- DEALER LOCATOR PAGE -------------------------

.info-popup {
  cursor: pointer;
}

.dealer-h3-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #00275B;
  letter-spacing: 0.8px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
}

.form__question__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #000000;
  letter-spacing: 0.58px;
}

#map {
  height: 100%;
  width: 100%;
}

#map-detail {
  height: 100%;
  width: 100%;
}

.graybg {
  background-color: #B7B7B7;
  height: 500px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
  }
}

.verdelers-container {
  padding: 120px 0 80px;
}

.verdelers__item {
  padding: 30px;
  box-shadow: $shadow;
  color: $blue;
  background-color: white;

  & .verdelers__item__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #00275B;
    letter-spacing: 1.07px;
    text-transform: uppercase;
  }

  & .verdelers__item__address {
    margin-top: 25px;
    margin-bottom: 25px;

    & a {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      letter-spacing: 1.07px;
      line-height: 24px;
      color: $blue;

      & span {
        display: block;
      }
    }
  }

  & .verdelers__item__location {

     & a {
       font-family: 'Open Sans', sans-serif;
       font-style: italic;
       font-size: 16px;
       color: #00275B;
       letter-spacing: 1.07px;
     }
  }

  & .verdelers__item__buttons {
    margin-top: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & a {
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 12px;
      color: #00275B;
      letter-spacing: 0.8px;
      text-transform: uppercase;
    }
  }
}

.verdelers-premium {

  & .verdelers-premium__title {
    text-align: center;

    & i {
      color: $yellow;
      margin-left: 10px;
      font-size: 24px;
    }
  }

  & .verdelers-premium__item {
    border-top: 4px solid $yellow;
  }
}

.verdelers-ambassador {
  background-color: $gray;

  & .verdelers-ambassador__title {
    text-align: center;

    & i {
      color: $blue;
      margin-left: 10px;
      font-size: 24px;
    }
  }

  & .verdelers-ambassador__item {
    border-top: 4px solid $blue;
  }
}

.verdelers-verkooppunten {

  & .verdelers-verkooppunten__title {
    text-align: center;

    & i {
      color: #BFBFBF;
      margin-left: 10px;
      font-size: 24px;
    }
  }

  & .verdelers-verkooppunten__item {
    border-top: 4px solid #BFBFBF;
  }
}

.dealer-popup {
  background-color: rgb(255, 255, 255);
    /* RGBa with 255.6 opacity */
    background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -5;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;

  & .dealer-popup__container {
    position: relative;
    background-color: $yellow;
    color: white;
    padding: 20px;
    width: 90%;
    max-width: 720px;
    // box-shadow: $shadow;
    // box-shadow: 0px 0px 182px -30px rgba(0,0,0,0.49);
    box-shadow: 0px 0px 207px -21px rgba(0,0,0,0.3);
    display: flex;

    & .dealer-popup__container__text {
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 19px;
      width: 90%;
    }

    & i {
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;
      margin-left: 50px;
      font-size: 20px;
    }
  }
}


// --------------------------------- DEALER DETAIL PAGE -------------------------

.verdeler-detail {

  & .verdeler-detail__address {

    & a {
      display: block;
      font-family: 'Open Sans', sans-serif;
      font-weight: lighter;
      font-size: 20px;
      color: #000000;
      letter-spacing: 0.25px;
      line-height: 30px;

      & span {
        display: block;
      }
    }
  }

  & .verdeler-detail__info {
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 30px;

    & a {
      color: #000000;

      & i {
        margin-right: 5px;
        font-size: 20px;
        color: #BFBFBF;
      }
    }
  }

  & .verdeler-detail__map {
    height: 500px;
  }
}

.verdeler-detail__contact {
  margin: 120px 0 120px 0;
}


@media only screen and (max-width: 1024px)  {

  .form iframe {
    margin-top: 70px;
    width: 100%;
    height: 550px;
  }

  .verdeler-detail__map {
    margin-top: 80px;
  }

  #map {
    height: 550px;
    margin-top: 80px;
  }

  .graybg {
    margin-top: 30px;
  }

}

@media only screen and (max-width: 640px)  {

  .header__popup__subtitle {
    margin-top: 5px;
  }

  .header__popup__verdeler {
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-size: contain;
  }

  .form iframe {
    height: 320px;
  }

  .graybg {
    height: 220px;
  }

  #map {
    height: 320px;
    margin-top: 80px;
  }

  .verdeler-detail {

    & .verdeler-detail__address {

      & a {
        font-size: 21px;
      }
    }

    & .verdeler-detail__info {
      font-size: 21px;
    }
  }

  .dealer-popup {

    & .dealer-popup__container {

      & .dealer-popup__container__text {
        font-size: 12px;
        width: 98%;
      }

      & i {
        top: 10px;
        right: 10px;
      }
    }
  }
}
