// Big header

.header__big {
  position: relative;
  width: 100%;
  height: 60vh;
  min-height: 500px;
  background-color: #B7B7B7;

  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

// Blog page header

.header__blog {
  height: 100px;
}

@media only screen and (max-width: 640px)  {
  .header__big {
    height: 50vh;
    min-height: 350px;
  }
}
